$primary: #9D1535;
$accent: #d08642;
$bg: #ffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #000000;
$text-color: white;
*{
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    font-weight: bold;
    background: $bg;
    overflow: auto;
    color: $foreground;

    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}

.quiz-container{
   width: 500px; //100%
   background: $primary;
   border-radius: 4px;
   margin-top: 100px;
   padding: 30px 60px;
   box-sizing: content-box;
   overflow: auto;

   .active-question-no{
    font-size: 32px;
    font-weight: 500;
    color: $bg;
   }
   .current-score{
    font-size: 25px;
    font-weight: 500;
    color: $bg;
    text-align: left;
   }
   .progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  z-index: 1000px;
  
}

.progress-bar {
  height: 10px;
  border-radius: 5px;
  background-color: #4caf50;
  transition: width 0.4s ease;
  z-index: 100;
}
   h2{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: $bg;
   }
   ul{
    margin-top: 20px;
    margin-left: -40px;
    //option choices buttons styling
    li{
        text-decoration: none;
        list-style: none;
        color: $bg;
        font-size: 16px;
        background: $primary;
        border: 1px solid $disabled;
        border-radius:16px ;
        padding: 11px;
        margin-top: 15px;
        cursor: pointer;
    }
    .selected-answer{
        background-color: $text-color;
        border: 1px solid $accent;
        color: $primary;
        .disabled-choice{
        background: $bg-accent;
        color: $disabled;
        cursor: not-allowed;
    }
       
    }
    .correct-answer{
        background-color: green !important;
        color: $text-color !important;
    }
        .wrong-answer{
        background-color: red !important;
        color: $text-color !important;
    }
    
   }
   .explanation{
    text-align: center;
    color:$primary;
    p{
        color:$bg;
        font-size: 20px;
        letter-spacing: 1.4px;
        text-align: center;
    }
}

   .footer{
    display: flex;
    justify-content: center;
   }
   //next button styling
   button{
    background: $disabled;
    border-radius: 9px;
    font-size: 18px;
    color:$primary;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;

    &:disabled{
        background: $bg-accent;
        color: $disabled;
        cursor: not-allowed;
    }

}

   .result{
    text-align: center;
    color:$bg;
    h3{
        color:$bg;
        font-size: 24px;
        letter-spacing: 1.4px;
        text-align: center;
    }
    p{
        font-size: 16px;
        font-weight: 500;
        span{
            color:$bg;
            font-size: 22px;
        }
    }
   }

}
